<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/7e497848-d70f-466c-b913-fc9222cdb8ca/resourceGroups/asp/providers/Microsoft.Web/sites/loginasp</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://loginasp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>9d5cb346-668d-419a-9987-b3234cb48243</ProjectGuid>
    <PublishUrl>https://loginasp.scm.azurewebsites.net/</PublishUrl>
    <UserName>$loginasp</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>